styles/globals.css body {
  font-family: "Arial", sans-serif;
}

.list-container {
  border-radius: 20px;
  border: 1px solid #ddd;
  max-width: 400px;
  overflow: scroll;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  gap: 20px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
}
.list-item:hover {
  background-color: #dddddd77;
}

.listName-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}
.custom-input {
  padding: "50px";
}
.chip-container {
  align-items: center;
  width: 150px;
  max-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.custom-container {
  display: flex;
  padding: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  border-bottom: 3px solid #430bb4;

  border-radius: 3px;
}

.chipComponent {
  display: flex;
  flex-direction: row;
}
